@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
:root {
    --main-color: #23282E;
    --dark-color-1: #191919;
    --dark-color-2: #000000;
    --secondary-color: #000000;
    --accent-primary-color: #00FFE3;
    --accent-secondary-color: #636260;
    --color1: #F5F5F7;
    --color2: #f7f7fc;
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    transition: all 300ms ease;
}

html::-webkit-scrollbar {
    height: 0px;
    width: 7px;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: var(--color2);
}

html::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--accent-secondary-color);
}

.zoom-effect,
.hover-effect {
    transition: all 400ms ease;
    position: relative;
}

.hover-effect:hover {
    z-index: 3;
    /* transform: scale(1.1); */
    /* background-color: var(--accent-primary-color); */
    /* padding: 8px; */
    top: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    width: 105%;
    height: 105%;
    border: 3px solid light-dark(#000000, #ffffff);
    top: 0;
    left: -12px;
    box-shadow: 0 0 5px 1px white;
    background-color: var(--color1);
    object-position: unset;
}
.hover-effect:hover>img{
    object-position: left;

}
.zoom-effect:hover {
    transform: scale(1.1);
    color: var(--main-color);
    background-color: var(--color1);
    border: 1px solid white;
    box-shadow: 0 0 3px 1px white;

}

.glass-effect {
    transition: all 600ms ease;
}

.glass-effect {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff51;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;
    z-index: 2;
}


.body-font {
    
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.animated-scroll{
    position: relative;
    view-timeline: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
@keyframes show {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}
.title-font {
    font-family: 'Pixelify Sans', sans-serif;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.d-flex > h2{
    width: 100%;
}
.container {
    width: auto;
    margin: auto;
    padding: 30px;
    background-color: light-dark(var(--color1), var(--dark-color-1));
}

.li {
    list-style: none;
    padding: 5px;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text-center {
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 7px;
    padding: 5px;
}

.btn {
    padding: 4px;
}

.btn-secondary {
    color: var(--secondary-color);
    background-color: var(--accent-primary-color);
}

.rounded {
    border-radius: 15px;
}

.rounded-sm {
    border-radius: 5px;
}

.btn-float-left {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1rem;
}

.text-h1 {
    font-size: 2rem;
}

.header {
    background-color: light-dark(var(--main-color), var(--dark-color-2));
    position: relative;

}

.header-container {
    padding: 10px;
    width: 100%;
    height: max-content;
    font-size: .9rem;
    color: var(--accent-primary-color);
    text-align: center;
}

.header-title {
    padding-top: 25px;
}

.header-social-media {
    padding: 6px;
    color: var(--accent-primary-color);
    display: flex;
    gap: 5px;
    justify-content: center;
}

.header-description {
    padding: 4px;
    font-size: 1.rem;
}

.navbar {
    /* background-color: var(--color2); */
    background-color: light-dark(var(--color2), var(--dark-color-2));
    border-bottom: 2.3px solid var(--main-color);
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 100000;
  }

.navbar-container {
    display: flex;
    padding: 15px 5px 15px 5px;
    justify-content: space-around;
    gap: 5px;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.navbar-item {
    list-style: none;
    font-size: .9rem;
}

.navbar-link {
    text-wrap: nowrap;
    color: light-dark(var(--secondary-color), var(--color2));
}

.projects-container h3 {
    font-size: 2.2rem;
    margin-left: 15px;
}

.card {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 10px;
    border-bottom: 2px solid var(--main-color);
}

.card-title,
.card-description {
    padding: 5px;
}

.card-image {
    padding: 5px;
    margin: auto;
    /* width: 200px; */
    height: 230px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* overflow: hidden; */
    gap: 13px;
    background-color: var(--color1);
    position: relative;
}

.hover-effect:hover~.glass-effect {
    display: block;
}

.image-container {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
}

.knowledge-container {
    background-color: var(--secondary-color);
    padding-top: 15px;
}

.knowledge-container h2 {
    color: var(--accent-primary-color);
    font-size: 2rem;
    margin-left: 15pxs;
}

.knowledge-item {
    /* color: var(--accent-primary-color); */
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.text-title {
    font-size: 1.2rem;
}

.list-item {
    list-style: none;
    font-size: 1.16rem;
    padding: 5px;
    color: var(--accent-secondary-color);
}

summary {
    list-style: none;
    cursor: pointer;
    position: relative;
}

details {
    cursor: pointer;
    padding: 10px;
}

details summary::before {
    position: absolute;
    content: "⬇️";
    font-size: 1.4rem;
    top: 0px;
    right: 0px;
}

details[open] {
    background: #ffffff17;
}

details[open] summary::before {
    -webkit-animation: rotate-emoji 0.6s ease-in-out both;
    animation: rotate-emoji 0.6s ease-in-out both;
}

.habilities-container {
    display: flex;
    gap: 15px;
    margin: 10px;
}

.habilities-container>ul {
    font-size: 1.1rem;
}

@-webkit-keyframes rotate-emoji {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media screen and (min-width:768px) {
    .flex-grow {
        flex: 1;
    }

    .header-container {
        font-size: 1.2rem;
    }

    .navbar-container {
        overflow-x: unset;
        justify-content: space-evenly;
    }

    .navbar-item {
        font-size: 1rem;
    }

    .card {
        display: flex;
    }

    .card-image {
        width: 300px;
        height: 300px;
        grid-template-rows: repeat(2, 1fr);
    }

    details summary::before {
        right: 15px;
    }

    .text-title {
        font-size: 1.7rem;
    }

    details summary::before {
        font-size: 1.7rem;
    }
}
.projects-container{
    background-color: light-dark(var(--color2), var(--dark-color-1));
    border-radius: 10px 10px 0 0 ;
    margin-top: 15px;
    padding: 10px;
}
@media screen and (min-width:992px) {
    .header-container {
        font-size: 1.5rem;
        width: 1000px;
        margin: auto;
        padding: 40px;
    }

    .navbar-container {
        width: 1000px;
        margin: auto;
        justify-content: space-between;
    }

    .projects-container {
        width: 1000px;
        margin: 15px auto 0 auto;
    }

    .card-image {
        width: 200px;
    }

    .knowledge-item {
        /* width: 1000px; */
        margin: auto;
    }

    .knowledge-container {
        padding: 30px;
        width: 1000px;
        margin: auto;
    }

    .container {
        width: 1000px;
    }
}